
$body-color: #212529; // Text color
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif; // Base font family
$primary: #cfe2ff;
$warning: #ffda6a;
$danger: #ea868f;

// Components
$focus-ring-width: .1rem !default;

// Buttons
$enable-shadows: true; // Enable button shadows
$btn-border-radius: .2rem; // Button border radius
$btn-box-width: 3px;
$btn-box-shadow: $btn-box-width $btn-box-width 0 #555;
$btn-box-hover-width: 1px;
$btn-box-hover-shadow: $btn-box-hover-width $btn-box-hover-width 0 #222;

@import "~bootstrap/scss/bootstrap";

.btn {
    &:hover {
        box-shadow: $btn-box-hover-shadow;
      }
}
